@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* border: 1px solid red; */
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: flex-start;
    margin-top: 72px;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* padding: 0 2rem; */
  }
}
